@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/Merriweather/Merriweather-Light.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

// PARAMETRES GENERAUX 
$color1: rgb(243, 243, 243);
$color2: black;
$color3: grey;
$color4: rgb(209, 198, 198);

body {
    background: url(/assets/img/bg.jpg) center/cover fixed;
    height: 100vh;
}
button {
    color: $color2;
    font-family: Inter, serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 15px 45px;
    border: 3px solid $color2;
    background: transparent;
    letter-spacing: 2px;
}
label, h6 {
    color: $color3;
    font-family: Inter, serif;
    font-size: 1rem;
    font-weight: 700;
}
@mixin center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// PARAMETRES SPECIFIQUES
.header {
    @include center;
}
.header-container {
    text-align: center;
}
.header-container p{
    font-style: italic;
    color: white;
    font-size: 1.6rem;
}
h1 {
    color: $color1;
    font-family: Inter;
    font-size: 5.5rem;
    font-weight: 800;
    letter-spacing: 5px;
    width: 55%;
    margin: 300px auto 40px;
}
.header-container button {
    border: 3px solid white;
    border-radius: 150px;
    margin: 80px auto 120px;
    display: flex;
    justify-content: center;
    padding: 20px 25px;
}
.arrow {
    color: white;
    font-size: 1.8rem;
}
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    height: 100px;
    width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.14);
}
.menu {
    width: 50%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.menu li {
    margin: auto;
    padding: 36.5px;
}
#this:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
#generic:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
#elements:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.logo menu {
    width: 40%;
}
.logo-menu ul{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.logo-menu li {
    font-size: 1.5rem;
    margin: auto;
    width: 100px;
}
#twitter, #facebook, #instagram, #github {
    text-align: center;
}
#twitter:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
#facebook:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
#instagram:hover {
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
#github:hover{
    background: $color1;
    height: 100px;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.bg {
    background: $color1;
    max-width: 80%;
    margin: 0 auto;
}
.main-container {
    max-width: 80%;
    margin: 0 auto 100px;
    padding-top: 100px;
    text-align: center;

    #date{
        font-family: Merriweather, serif;
        font-size: 1.5rem;
        position: relative;
    }
    #date::before{
        content: "";
        position: absolute;
        border: 1px solid $color4;
        width: 40%;
        left: -80px;
        top: 10px;
    }
    #date::after{
        content: "";
        position: absolute;
        border: 1px solid $color4;
        width: 40%;
        right: -80px;
        top: 10px;
    }
    h2 {
        font-family: Inter, serif;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 5px;
        max-width: 1000px;
        margin: 100px auto 80px;
    }
    p {
        line-height: 50px;
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 100;
        max-width: 850px;
        margin: auto;
    }
}
.img-desert {
    margin: auto;
}
.img-desert img {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom {
    @include center();
    border-top: 1px solid $color4;
}
.section-left {
    width: 50%;
    margin: 100px;
    text-align: center;
    position: relative;

    p {
        font-family: Merriweather, serif;
        font-size: 1.1rem;
        line-height: 35px;
        text-align: left;
    }

}
.section-left::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 126%;
    background: $color4;
    top: -100px;
    left: 115%;
}
.section-right {
    width: 50%;
    margin: 100px;
    text-align: center;

    p {
        font-family: Merriweather, serif;
        font-size: 1.1rem;
        line-height: 35px;
        text-align: left;
    }
}
#date-section-right, #date-section-left{
    margin-bottom: 30px;
    font-family: Merriweather, serif;
    font-size: 1rem;
}
h3 {
    font-family: Inter, serif;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 35px;
    max-width: 260px;
    margin: auto;
}
.section-right img, .section-left img{
    margin: 30px auto;
}
.section-right-button , .section-left-button {
    margin-top: 40px;
}
footer {
    background: $color1 center/cover;
    margin: 50px auto;
    width: 80%;
    display: flex;
}

.left-part {
    width: 50%;
    border-right: 1px solid $color4;
    
    form {
    display: flex;
    flex-direction: column;
    margin: 60px;
    }

    label {
        padding: 20px 0;
    }
    
    input {
        background: transparent;
        height: 60px;
        border: 1px solid $color4;
        border-radius: 5px;
    }

    textarea{
        background: transparent;
        height: 250px;
        border: 1px solid $color4;
        border-radius: 5px;
        margin-bottom: 50px;
    }

    .send input{
        color: $color3;
        font-family: Inter, serif;
        font-size: 1rem;
        font-weight: 700;
        padding: 20px 40px;
        letter-spacing: 1px;
        border: 3px solid grey;
        border-radius: 0px;
    }
}
.right-part {
    display: grid;
    width: 50%;

    h6{
        width: 25%;
        padding-left: 60px;
    }
    p{
        font-family: Merriweather;
        font-size: 1.1rem;
        color: $color3;
    }
    a {
        font-family: Merriweather;
        font-size: 1.1rem;
        color: $color3;
        text-decoration: none;
    }
}
.contact-adress {
    display: flex;
    align-items: center;
    
}
.contact-phone {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color4;
    border-top: 1px solid $color4;
}
.contact-email {
    display: flex;
    align-items: center;
}
.contact-social {
    display: flex;
    align-items: center;
    border-top: 1px solid $color4;

    ul {
        width: 35%;
        display: flex;
        justify-content: space-around;
    }

    li {
        font-size: 1.4rem;
        border: 1px solid $color4;
        border-radius: 500px;
        padding: 18px;
    }
}

